/* Variables */

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FAAD14;
$panGreen: #30B08F;
$bd-color: #EEF0F2;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#fff;
$subMenuHover: #c5e5f6;
$subMenuActiveText:#868686;
$menuBg:#fff;
$menuText:#303133;
$menuActiveText:#1890FF; // Also see settings.sidebarTextTheme
$main-color: #1890FF;

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// title
$title-color: #868686;
$word: #333333;
// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
